
hi all
{% for elements in articles %}
<article>

    <h2>{{elements.tittle}}</h2>
    <P>{{elements.text}}</P>
    <h2>{{elemnts.authur.name}}</h2>
    <h2>{{elemnts.authur.family}}</h2>
    <h2>{{elemnts.authur.email}}</h2>
    
    
    <img src="{{elements.image}}" alt="{{elements.title}}" >

</article>




{% endfor %}

{% for elements in context %}
<article>
    <h2>{{elements.tittle}}</h2>
    <P>{{elements.text}}</P>
    <h2>{{elemnts.authur.name}}</h2>
    <h2>{{elemnts.authur.family}}</h2>
    <h2>{{elemnts.authur.email}}</h2>


<img src="{{elements.image}}" alt="{{elements.title}}" >

</article>

{% endfor %}





